@import url('https://fonts.googleapis.com/css?family=Codystar|Quicksand:300,400,700');
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #777;
  background-image : url("25499.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  /* background: #2d1b55; */
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}
/*** <--- DEMO STYLES ---> ***/
.wrapper {
  position: relative;
}
#scene {
  position: relative;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  border-radius: 50%;
  background: #41277C;
}
#scene::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.025);
}
.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}
.text h1 {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 40px;
  color: #EEEEFF;
  text-shadow: 0 0 1px #41277C, 0 0 15px rgba(238, 238, 255, 0.85);
}
.text h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #9FB798;
}
.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.snow .flake {
  opacity: 0;
  position: absolute;
  top: -0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.snow .flake:nth-child(1) {
  left: 46%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 6699ms;
}
.snow .flake:nth-child(2) {
  left: 52%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 10551ms;
}
.snow .flake:nth-child(3) {
  left: 57%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 4060ms;
}
.snow .flake:nth-child(4) {
  left: 68%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 4079ms;
}
.snow .flake:nth-child(5) {
  left: 98%;
  animation: blow 19786ms ease-in infinite;
  animation-delay: 9042ms;
}
.snow .flake:nth-child(6) {
  left: 62%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 3456ms;
}
.snow .flake:nth-child(7) {
  left: 48%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 5386ms;
}
.snow .flake:nth-child(8) {
  left: 43%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 5053ms;
}
.snow .flake:nth-child(9) {
  left: 36%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 6302ms;
}
.snow .flake:nth-child(10) {
  left: 42%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 425ms;
}
.snow .flake:nth-child(11) {
  left: 96%;
  animation: blow 17938ms ease-in infinite;
  animation-delay: 10389ms;
}
.snow .flake:nth-child(12) {
  left: 54%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 3047ms;
}
.snow .flake:nth-child(13) {
  left: 82%;
  animation: blow 17433ms ease-in infinite;
  animation-delay: 2052ms;
}
.snow .flake:nth-child(14) {
  left: 66%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 2180ms;
}
.snow .flake:nth-child(15) {
  left: 47%;
  animation: blow 15525ms ease-in infinite;
  animation-delay: 3694ms;
}
.snow .flake:nth-child(16) {
  left: 35%;
  animation: blow 18608ms ease-in infinite;
  animation-delay: 4159ms;
}
.snow .flake:nth-child(17) {
  left: 43%;
  animation: blow 16791ms ease-in infinite;
  animation-delay: 4571ms;
}
.snow .flake:nth-child(18) {
  left: 70%;
  animation: blow 15980ms ease-in infinite;
  animation-delay: 8046ms;
}
.snow .flake:nth-child(19) {
  left: 44%;
  animation: blow 15918ms ease-in infinite;
  animation-delay: 721ms;
}
.snow .flake:nth-child(20) {
  left: 87%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 4851ms;
}
.snow .flake:nth-child(21) {
  left: 62%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 9068ms;
}
.snow .flake:nth-child(22) {
  left: 44%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 141ms;
}
.snow .flake:nth-child(23) {
  left: 68%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 6406ms;
}
.snow .flake:nth-child(24) {
  left: 55%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 6877ms;
}
.snow .flake:nth-child(25) {
  left: 64%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 42ms;
}
.snow .flake:nth-child(26) {
  left: 38%;
  animation: blow 19722ms ease-in infinite;
  animation-delay: 1919ms;
}
.snow .flake:nth-child(27) {
  left: 92%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 3372ms;
}
.snow .flake:nth-child(28) {
  left: 18%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 8267ms;
}
.snow .flake:nth-child(29) {
  left: 83%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 3936ms;
}
.snow .flake:nth-child(30) {
  left: 61%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 6138ms;
}
.snow .flake:nth-child(31) {
  left: 10%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 11306ms;
}
.snow .flake:nth-child(32) {
  left: 93%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 6152ms;
}
.snow .flake:nth-child(33) {
  left: 14%;
  animation: blow 17524ms ease-in infinite;
  animation-delay: 8190ms;
}
.snow .flake:nth-child(34) {
  left: 75%;
  animation: blow 19640ms ease-in infinite;
  animation-delay: 5254ms;
}
.snow .flake:nth-child(35) {
  left: 14%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 4957ms;
}
.snow .flake:nth-child(36) {
  left: 74%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 255ms;
}
.snow .flake:nth-child(37) {
  left: 38%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 622ms;
}
.snow .flake:nth-child(38) {
  left: 4%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 11469ms;
}
.snow .flake:nth-child(39) {
  left: 51%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 8906ms;
}
.snow .flake:nth-child(40) {
  left: 57%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 10382ms;
}
.snow .flake:nth-child(41) {
  left: 27%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 10766ms;
}
.snow .flake:nth-child(42) {
  left: 16%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 7305ms;
}
.snow .flake:nth-child(43) {
  left: 9%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 66ms;
}
.snow .flake:nth-child(44) {
  left: 43%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 823ms;
}
.snow .flake:nth-child(45) {
  left: 89%;
  animation: blow 19290ms ease-in infinite;
  animation-delay: 5552ms;
}
.snow .flake:nth-child(46) {
  left: 16%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 11773ms;
}
.snow .flake:nth-child(47) {
  left: 39%;
  animation: blow 17751ms ease-in infinite;
  animation-delay: 5926ms;
}
.snow .flake:nth-child(48) {
  left: 47%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 7764ms;
}
.snow .flake:nth-child(49) {
  left: 93%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 2189ms;
}
.snow .flake:nth-child(50) {
  left: 39%;
  animation: blow 15000ms ease-in infinite;
  animation-delay: 4600ms;
}
.tree {
  position: relative;
  position: absolute;
}
.tree::before, .tree::after {
  content: '';
  position: absolute;
}
.tree.one {
  bottom: 30%;
  left: 47%;
  opacity: 0.7;
}
.tree.two {
  transform: scale(0.8);
  bottom: 28%;
  left: 80%;
  opacity: 0.4;
}
.tree.three {
  transform: scale(0.6);
  bottom: 26%;
  left: 70%;
  opacity: 0.2;
}
.tree.four {
  transform: scale(0.8);
  bottom: 28%;
  left: 20%;
  opacity: 0.5;
}
.tree.five {
  transform: scale(0.6);
  bottom: 26%;
  left: 38%;
  opacity: 0.2;
}
.tree::before {
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}
.tree::after {
  top: -10px;
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}
.platform {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100px;
  padding-top: 50px;
  background: #2d1b55;
  border-radius: 0 0 5px 5px;
}
.platform::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #9FB4C7;
  border-radius: 0 0 5px 5px;
}
.platform .quote {
  padding: 0 1rem;
  font-family: 'Codystar', cursive;
  font-size: 1em;
  text-align: center;
  line-height: 1.4;
  color: #9FB798;
}
@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
    transform: translate(0, 500px);
  }
}
@media (max-width: 520px) {
  .wrapper {
    transform: scale(0.6);
  }
}
